

* {
	box-sizing: border-box;
	margin : 0;
	padding: 0;
}

html{
	width: 100%;
	height: 100%;
}
 body{
	width: 100%;
	height:100%;
	background-image: url("image.jpg");
 	
 	background-repeat: no-repeat;
 	background-size: 230%;
}

header{

    width: 100%;
	height: 80px;
   	background-color: white;
   
}

h1{
	text-align: center;
    padding-top: 20px; 
}
footer{
	background-color: white;
    height: 70px;
	position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;

}
img{
	width: 30%;
  float: left;
  margin-left: 100px;
	
}
.chronometre{
	height: 300px;
	padding-top: 70px;
	display: flex;
	justify-content: space-around;
	/*margin-top: -20px;*/
	}
.bloc{

  width: auto;
  height: auto;
  text-align:center;

  font-size: 25px;

	
}
.carre {
 
 	height:80px;
 	width: 80px;
    background-color: #FFFFFF;
 	opacity: 0.4;
 	border-radius: 20px;
    border: 3px black outset;
}
.rectangle{
    margin-top: 20px;
	width:80px;
 	height: 40px;
 	background-color: #FFFFFF;
 	opacity: 0.4;
 	border-radius: 20px;
 	border: 3px black outset;
 	font-size: 20px;
 	padding-top: 5px;

}
#rect{
	margin-top: 20px;
	width: 80px;
 	height: 40px;
    background-color: red;
 	opacity: 0.4;
 	border-radius: 20px;
 	font-size: 20px;
 	padding-top: 8px;
}
#Days{
    	font-size: 40px; 
    	padding-top: 10px;
}
#Hours{
	font-size: 40px;
	padding-top: 10px;
}
#Minutes{
	font-size: 40px;
	padding-top: 10px;
}
#Secondes{
	font-size: 40px;
	padding-top: 10px;
}
#codeuses{

    display: flex;
    justify-content:center;
    width: 350px;
    height: 50px;
    margin-left: 30px;
	background-color: red;
 	opacity: 0.3;
    border-radius: 30px;
    font-size: 100%;

}
h2{
margin:auto;
color:black;
}
#bas{
	margin-top: 10px;
	margin-left: 30px;
}
p{
	font-size: 20px;
	margin-left : 20px;
	margin:0;
	padding: 0;

	
}
a{ 
	
	font-size: 20px;
	float: left;
	

	
}



@media screen and (min-width: 1281px){

  header{
  	height: 100px;
  }
	footer{height: 130px;}
	body{
		background-size: 100%;
	}
	.bloc{
  width: auto;
  height: auto;
  text-align:center;
  font-size: 50px;
  margin-right: 100px;
}
  .chronometre{
	height: 300px;
	padding-top: 70px;
	display: flex;
	justify-content: center;
	width: 100%;

  	}
	.carre {
 	width: auto;
 	height:180px;
 	border-radius: 50px;
   border: 3px black outset;
   }
   .rectangle{
    margin-top: 20px;
	width:180px;
 	height: 60px;
 	border-radius: 50px;
 	font-size: 40px;
 	
     }
     #rect{
	margin-top: 20px;
	width: 180px;
 	height: 60px;
 	border-radius: 50px;
 	font-size: 40px;
}
#codeuses{

    display: flex;
	margin-top: 100px;
	width: 1020px;
	height : 100px;
	background-color: red;
 	opacity: 0.3;
    border-radius: 25px;
    font-size: 200%;
    text-align: right;
    margin-left:240px;}
    
  h1{
  	padding-top: 10px;
  	font-size: 60px; 
  }
#Days{
    	font-size: 100px; 
}
#Hours{
	font-size: 100px;
}
#Minutes{
	font-size: 100px;
}
#Secondes{
	font-size: 100px;
} 
img{
	width: 10%;
  float: left;
  margin-left: 900px;

}
#bas{
	margin-top: 30px;
	margin-left: 240px;
}
p{
	font-size: 35px;
	
	margin:0;
	padding: 0;

	
}
a{ 
	
	font-size: 35px;
	
	

	
}
}
@media screen and (min-width: 768px) and (max-width: 1024px){
	header{
     height: 100px;
	}
	footer{
     height: 110px;
	}
	body{
   background-size: 120%;
	}
	.bloc{
  width: auto;
  height: auto;
  text-align:center;
  font-size: 50px;
  margin-right: 40px;
}
  .chronometre{
	height: 300px;
	padding-top: 70px;
	display: flex;
	justify-content: center;
	width: 100%;

	}
	.carre {
 	width: auto;
 	height:140px;
 	border-radius: 25px;
   border: 3px black outset;
   }
.rectangle{
    margin-top: 20px;
	width:140px;
 	height: 60px;
 	border-radius: 20px;
 	font-size: 30px;
 	font-weight: bold;
 	
     }
     #rect{
	margin-top: 20px;
	width: 140px;
 	height: 60px;
 	border-radius: 20px;
 	font-size: 30px;
 	font-weight: bold;
}
#Days{
    	font-size: 80px; 
    	padding-top: 10px;
}
#Hours{
	font-size: 80px;
	padding-top: 10px;
}
#Minutes{
	font-size: 80px;
	padding-top: 10px;
}
#Secondes{
	font-size: 80px;
	padding-top: 10px;
}
#codeuses{

    
    width: 680px;
    height: 70px;
	background-color: red;
 	opacity: 0.3;
    border-radius: 30px;
    margin-top: 100px;
    font-weight: bold;
    
    position:absolute;
    left: 20%;
    margin-left: -110px; 
    
    
   

}
img{
	width:20%;
  float: left;
  margin-left: 350px;

}
#bas{
	margin-top: 20px;
	margin-left: 140px;
}
p{
	font-size: 25px;
	
	margin:0;
	padding: 0;

	
}
a{ 
	
	font-size: 25px;
	
	

	
}

h2{
	font-size: 50px;

}
h1{
	padding-top: 10px;
	font-size: 70px;
}
}
